body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', serif;
}

.login-container, .register-container {
    width: 300px;
    margin: auto;
    text-align: center;
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: purple;
    color: white;
    border: none;
}
